
/* INSPIRED BY wikipedia.org */
/* BY @Bluemoondragon07 */


/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

/* Themes */

body.use-accent {
 --light-accent-light-mode: var(--color-accent-1);
 --dark-accent-light-mode: var(--color-accent-2);
 --light-accent-dark-mode: var(--color-accent-1);
 --dark-accent-dark-mode: var(--color-accent-2);
 --gradient-color-light: var(--color-accent-1);
 --gradient-color-dark: hsl(var(--accent-h), 70%, 50%, 10%);
}

body.wiki-accent, body {
  --light-accent-light-mode: hsl(217, 93%, 35%);
  --dark-accent-light-mode: hsl(245, 100%, 25%);
  --light-accent-dark-mode: hsl(217, 60%, 60%);
  --dark-accent-dark-mode: hsl(245, 93%, 77%);
  --gradient-color-light: #77c1f6;
  --gradient-color-dark: #77c1f62f;

  --accent-h: 217;
}
.theme-light {
	/* Tabs */
	--tab-gradient: linear-gradient(to top,var(--gradient-color-light) 0, var(--gradient-color-dark) 1px,#ffffff00 100%);
	--tab-active-color: white;
	/* links */ 
	--link-color: var(--light-accent-light-mode);
	--link-visited-color: var(--dark-accent-light-mode);
	/* Sidebars */
	--folder-title-color: #54595d;
  /* infoboxes */
  --infobox-color: #f8f9fa;
  --h6-background: rgb(235,235,210);
  /* borders */
  --border-color: #a2a9b1;
  /* tables */
  --table-heading-color: #eaecf0;
}


.theme-dark {
	/* Tabs */
	--tab-gradient: linear-gradient(to top,var(--gradient-color-light) 0,  var(--gradient-color-dark) 1px, #3a424800 100%);
	--tab-active-color: hsl(0, 0%, 100%, 10%);
	/* links */ 
	--link-color: var(--light-accent-dark-mode);
	--link-visited-color: var(--dark-accent-dark-mode);
	/* Sidebars */
	--folder-title-color: var(--text-normal);
	  /* infoboxes */
    --infobox-color: hsl(1, 0%, 20%);
    --h6-background: hsl(1, 0%, 25%);
    --background-primary: hsl(1, 0%, 15%);
    --background-secondary: hsl(1, 0%, 18%);
  /* borders */
  --border-color: hsl(1, 0%, 30%);
  /* tables */
  --table-heading-color: #5a5b5d;
}




body {
  --default-font: 'Archivo', Arial, sans-serif;

  --tab-radius: 0px;
  --radius-s: 0px;
  --radius-m: 0px;
  --radius-l: 0px;
  --radius-xl: 0px;
  --input-radius: 0px;
  
  --tab-radius: 0px;
  --tab-outline-color: transparent;
  --tab-radius-active: 0px 0px 0 0;
  --tab-divider-color: var(--color-accent-1);
  --tab-curve: 0px;

  
}

/* Navigation Ribbon */
.workspace-ribbon.mod-left.is-collapsed {
  transition: background-color 250ms 95ms ease-in-out;
  background-color: var(--background-secondar);
  border-right-color: var(--divider-color);
}

/* TABS */
.workspace .mod-root .workspace-tab-header {
    background-image: var(--tab-gradient);
    background-position: left bottom;
    background-repeat: repeat-x;
    float: left;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.125em;
    white-space: nowrap;

}
.workspace-tab-header.is-active {
    color: var(--text-normal);
    text-decoration: none;
    background-color: var(--tab-active-color);
}

/* TITLE & HEADERS */

body{
  --h1-font: 'Linux Libertine','Georgia','Times',serif;
  

  --h1-size: 1.5em;
  --h2-size: 1.2em;
  --h3-size: 1.1em;
  --h4-size: 1em;
  --h5-size: 0.99em;
  --h6-size: 0.98em;

  --h5-variant: small-caps;
  --h6-variant: normal;
  

  --h1-weight: normal;
  --h2-weight: bold;
  --h3-weight: bold;
  --h4-weight: bold;
  --h5-weight: bold;
  --h6-weight: bold;

}
.inline-title {
  font-size: 1.8em;
  border-bottom: 1px solid #a2a9b1;
  padding: 0;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  line-height: 1.3;
}



h1 {
  margin-bottom: 0.6em;
  border-bottom: 1px solid #a2a9b1;
}


h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  overflow: hidden;
  
}

h6 {
  background-color: var(--h6-background);
  padding:0.2em;
  text-align: center;
  margin-bottom: 0.2;
}



/* Links */
a {
  text-decoration: none;
    background: none;
}

/* TABLES */
.markdown-rendered table {
background-color: var(--infobox-color);
    color: var(--text-normal);
    margin: 1em 0;
    border: 1.5px solid var(--border-color);
    border-collapse: collapse;
}

.markdown-rendered table thead tr {
  padding: 0.2em 0.4em;
  background-color: var(--table-heading-color);
    text-align: center;
}

body{
  --table-border-color: var(--border-color);
  --table-border-width: 0.5px;
}



/* Navigation Ribbon */

body {
  --ribbon-background-collapsed: rgb(240,240,240);
  --vault-name-font-size: 1.8em;
  --nav-collapse-icon-color: transparent;
  --nav-collapse-icon-color-collapsed: transparent;

}

.nav-folder.mod-root > .nav-folder-title {
  font-size: var(--vault-name-font-size);
  color: var(--vault-name-color);
  font-weight: var(--vault-name-font-weight);
  cursor: default;
  font-variant: small-caps;
  line-height: 1.6em;
}

.nav-file-title {
  color: var(--link-color);
  font-size: 0.75em;
}
.nav-folder-title {
  display: block;
    color: var(--folder-title-color);
    
    font-size: 0.75em;
    font-family: 'Linux Libertine','Georgia','Times',serif;
    cursor: default;
    background-image: linear-gradient(to right,rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}

.nav-folder.mod-root .nav-folder > .nav-folder-children {
  padding-left: var(--size-4-2);
  margin: 0 0 0 var(--size-4-3);
  border-left:none;
}

body:not(.is-grabbing) .nav-file-title.is-active:hover, body:not(.is-grabbing) .nav-folder-title.is-active:hover, .nav-file-title.is-active, .nav-folder-title.is-active {
  background-color: transparent;
  font-size:0.9em;
}

/* DATAVIEW STYLING */
.dataview.inline-field-key {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  background-color: transparent;
  color: var(--text-nav-selected);
  
}

.dataview.inline-field-key::after {
  content: ':';
}

.dataview.inline-field-value {
  font-family: sans-serif;
  background-color: transparent;
  padding: 0px;
  
}

.dataview.inline-field-standalone-value {
  font-family: inherit;
  background-color: transparent;
  color: var(--text-nav-selected);
  margin: 0px;
  padding: 0px;
}

/* Frontmatter */
.frontmatter-container .frontmatter-container-header {
  color: var(--text-normal);
  font-size: var(--font-smaller);
  user-select: none;
  -webkit-user-select: none;
  cursor: var(--cursor);
  font-weight: var(--font-medium);
  display: flex;
  border-bottom: 1px solid var(--background-modifier-border);
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.frontmatter-container {
  background-color: var(--infobox-color);
  width: 100%;
  margin: 1em auto 1em auto;
  padding: 0.2em;
  line-height: 1.5em;
  border: 1px solid var(--border-color);
}
.frontmatter-container .frontmatter-section-label {
    font-size: inherit;
    color: var(--text-normal);
    font-weight: bold;
    display:block;
    text-indent: 2em;
    padding-right: 0.5em;
    flex-basis: 4em;
    flex-shrink: 0;
    background-color: var(--h6-background);
  padding:0.2em;
  text-align: center;
  margin-bottom: 0.2;
}
.frontmatter-container .frontmatter-section-data {
  font-size: inherit;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-2-2);
  text-align: center;
}
.frontmatter-container .frontmatter-section {
  display: block;
  text-align: center;
  margin-bottom: var(--size-2-3);
}

/* Wrap Text around IMAGES */

body.float-image, body {
 --image-float: right;
 --image-width: 25%;
 --image-margin: 0.5em 0 0.5em 1em;
 --image-clear: right;
}
body.image-normal {
  --image-float: inherit;
  --image-width: var(--image-controlled-width);
  --image-controlled-width: 100%;
  --image-margin: 0px auto 0px auto;
}

img{
  display: block;
  float: var(--image-float);
  margin: var(--image-margin);
  width: var(--image-width);
  clear: var(--image-clear);
 }

 /* Embeds */
 .markdown-embed-title {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: var(--h1-size);
  margin-bottom: 0.6em;
  z-index: 0;
}
.markdown-embed {
  border-left: none;
}

/* TAGS & LINKS */

body {
  --tag-decoration: none;
  --link-unresolved-decoration-color: transparent;
  --link-decoration: none;
}
.markdown-rendered .internal-link.is-unresolved {
  color: var(--link-visited-color);
  opacity: var(--link-unresolved-opacity);
  filter: var(--link-unresolved-filter);
  text-decoration-style: var(--link-unresolved-decoration-style);
  text-decoration-color: var(--link-unresolved-decoration-color);
}

a.tag, .editor .cl-hashtag {
  background-color: transparent;
  color: var(--link-color);
  font-size: var(--tag-size);
  text-decoration: var(--tag-decoration);
  padding: var(--tag-padding-y) var(--tag-padding-x);
  line-height: 1;
}

.external-link {
  color: var(--link-color);
  padding-right: 0;
  background-image: none;
  text-decoration-line: none;
}

/* FRONTMATTER */
.frontmatter-container .frontmatter-container-header {
  border-bottom: 1px solid transparent;
}

.frontmatter-container .frontmatter-section-label {
  text-indent: 2em;
  padding-right: 0.5em;
  flex-basis: 4em;
  flex-shrink: 0;
}

.frontmatter-container .frontmatter-section:last-child {
  font-style: italic;
  font-size: 0.9em;
}

/* callouts */

body.info-float, body {
  --callout-margin: 0.5em 0 0.5em 1em;
  --callout-float: right;
  --callout-width: 25%;
}

body.info-center {
  --callout-margin: 1em auto 1em auto;
  --callout-float: inherit;
  --callout-width: 100%;
}
.callout {
  display: block;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--infobox-color);
  color: var(--text-normal);
  margin: var(--callout-margin);
  padding: 0.2em;
  float: var(--callout-float);
  clear: right;
  font-size: 100%;
  line-height: 1.5em;
  border-radius: var(--callout-radius);
  mix-blend-mode: var(--callout-blend-mode);
  width: var(--callout-width);
  text-align: center;
}
.callout-title {
  background-color: var(--h6-background);
  padding:0.2em;
}
.callout-title-inner {
  font-weight: var(--bold-weight);
  color: var(--text-normal);
  margin-left: auto;
  margin-right: auto;
}

.callout-icon .svg-icon {
  color: var(--text-normal);
  margin-left: 2px;
}

.markdown-rendered hr {
  border-top: 1px solid;
  border-color: #a2a9b1;
  opacity: 0%;
  margin: 0;
}




/* BLOCKQUOTES */

body.blockquote-infobox {
  --blockquote-border: 1px solid var(--border-color);
  --blockquote-font-style: normal;
  --blockquote-padding: 0.2em;
  --blockquote-background-color: var(--infobox-color);
  --blockquote-clear: right;
  --blockquote-line-height: 1.5em;
}
body.blockquote-infobox.info-center {
  --blockquote-margin: 1em auto 1em auto;
  --blockquote-float: inherit;
  --blockquote-width: 100%;
}

body.blockquote-infobox.info-float {
  --blockquote-margin: 0.5em 0 0.5em 1em;
  --blockquote-float: right;
  --blockquote-width: 25%;
}

body.blockquote-normal, body {
  --blockquote-border: none;
  --blockquote-font-style: italic;
  --blockquote-padding: 0.8em;
  --blockquote-background-color: transparent;
  --blockquote-float:inherit;
  --blockquote-clear: inherit;
  --blockquote-radius: var(--callout-radius);
  --blockquote-margin: 0.5em 0 0.5em 1em;
}

.markdown-rendered blockquote {
  overflow: hidden;
  border-left: none;
  color: var(--text-normal);
  padding: var(--blockquote-padding);
  font-style: var(--blockquote-font-style);
  border: var(--blockquote-border);
  background-color: var(--blockquote-background-color);
  float: var(--blockquote-float);
  clear: var(--blockquote-clear);
  line-height: var(--blockquote-line-height);
  width: var(--blockquote-width);
  margin: var(--blockquote-margin);
}



/* BODY TEXT */
.markdown-preview-view {
  font-size: 0.875em;
  font-size: calc(1em * 0.975);
  line-height: 1.6;
}

/*List */
body {
  --list-marker-color: var(--text-normal);
}

/* Hide Scrollbars */
body:not(.native-scrollbars) ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* @settings

name: Wikipedia
id: wikipedia-theme
settings:
    -
      id: color-header
      title: Colors
      type: heading
      level: 2
      collapsed: true
    - 
      id: theme-colors
      title: Accent Color
      type: class-select
      allowEmpty: false
      default: wiki-accent
      options:
          -
            label: Wikipedia accents
            value: wiki-accent
          -
            label: Custom accent
            value: use-accent
    -
      id: blockquote-header
      title: Infoboxes
      type: heading
      level: 2
      collapsed: true
    - 
        id: blockquote-settings
        title: Blockquote Style
        description: choose whether to show blockquotes as infoboxes or Wikipedia-style quotes.
        type: class-select
        allowEmpty: false
        default: blockquote-normal
        options:
            - 
              label: Wikipedia quote
              value: blockquote-normal
            - 
              label: infobox
              value: blockquote-infobox
    -
        id: blockquote-placement
        title: Infobox Placement
        description: choose whether to float infoboxes to the right or set them in the default center position.
        type: class-select
        allowEmpty: false
        default: info-float
        options:
            -
              label: float right
              value: info-float
            -
              label: center
              value: info-center
    -
        id: images-header
        title: Images
        type: heading
        level: 2
        collapsed: true
    -
        id: image-settings
        title: Image Placement
        type: class-select
        allowEmpty: false
        default: float-image
        options:
            - 
              label: float right
              value: float-image
            - 
              label: center
              value: image-normal 
    - 
        id: image-controlled-width
        title: Image Size
        description: Only effects images when image placement is set to center.
        type: variable-number-slider
        format: "%"
        default: 80
        min: 25
        max: 100
        step: 10

    


*/
